@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
    font-size: 1vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: rgb(15, 15, 15);
    cursor: none;
}

#banner {
    width: 100%;
    height: 60rem;
    /* margin-bottom: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: rgb(55, 55, 240);
    color: white;
}

#filter-container {
    width: 100%;
    height: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

button {
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 3rem;
    color: white;
    background: rgb(35, 35, 35)
}

#banner-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60rem;
    background: rgba(0, 0, 0, 0.5);
}

#heading {
    opacity: 0;
    animation: fade-in 2s ease-in-out 1s 1 forwards;
}

p {
    color: white;
    font-size: 10rem;
    font-family: "Rampart One";
    z-index: 1;
}

canvas {
    display: none;
}

.r {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    height: auto;
    padding: 1.5rem 5rem 0rem 5rem;
}

.ph {
    height: 100%;
    width: auto;
    object-fit: cover;
    min-width: 0;
    /* border-radius: rem; */
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
}

.ph:hover {
    transform: scale(105%)
}

#custom-cursor {
    top: 0;
    left: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 2;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
}

#window-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.embed-window {
    position: absolute;
    height: 90%;
    width: auto;
    object-fit: cover;
    min-width: 0;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.embed-img {
    width: inherit;
    height: inherit;
    margin: 0;
}

.embed-info {
    background: rgb(15, 15, 15);
    width: inherit;
    height: 6rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    margin: 0;
}

.img-info {
    z-index: 5;
    font-family: monospace;
    font-size: 1.5rem;
    color: white;
    margin: 0.25rem;
}